<%- include('../layout/header')  %>


<div class="container justify-content-center align-content-center text-center mt-3 ">
    <div class="text-black fs-2"> Thông tin sản phẩm</div>
    <img class=" mt-4" src="/<%= objSp.image  %>" alt="" width="400" height="360" ></div>
<div class="container justify-content-center align-content-center  " style="min-height: 250px;">
  

  <div class=" container-fluid align-content-center justify-content-center mt-3 text-center">
   
    <div class="text-dark" >Title: <%= objSp.title  %> </div>
    <div class="text-50" > Name: <%= objSp.name  %></div>
    <div class="text-danger"> Price:<%= objSp.price  %></div>

    <div class="row">
    </div>
    <div class="text-70 "> 
     Type: <%= listthe_loai.name  %>

       </div>
    <div class="text-dark lh-base"> Content:  <%= objSp.content  %></div>


  </div>

   

</div>

<%- include('../layout/footer')  %>